*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
font-family:  'Montserrat',sans-serif;
background: rgb(228, 228, 228);

}
.container{
	background-image: url('../i2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.heading{
text-align: center;
right: 60px;
bottom: 50px;
color: white;
font-family: verdana;

}
.heading h1{
	font-size: 35px;
}
.heading p {
	margin-top:  8px;
	font-size: 14px;
}
.currencyInput{
   display: flex;
   flex-direction: column;
   margin: 15px 0px;
   width: 90%;
   margin: 0 auto;

}

#euro, #dollar, #bdt, #rs{
margin: 0 auto;
margin-top:40px;
border:  none;
padding: 20px 20px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 15px;
width: 430px;
box-shadow:  0px 1px 5px rgb(97,97,97);
}

#euro{
background: #7FB3D5;


}
 #dollar{

background: #5499C7;
 }
  #bdt{

background: #D4E6F1 ;
  }
  #rs{

background: #A9CCE3;
  }





